* {
	box-sizing: border-box;
}

body {
	margin: auto;
	font-family: 'Open Sans Condensed', sans-serif;
}

nav {
	letter-spacing: 0.5px;
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 1000px;
	background-color: #494747;
	color: #e3674c;
	text-transform: uppercase;
}

@media screen and (max-width: 800px) {
	nav {
		margin: auto;
		display: flex;
		justify-content: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		background-color: #494747
	}

	nav h3 {
		margin-left: 0;
		padding: 0px 22px 0px 22px;
		}
}

h3 {
	margin-left: 38px;
}

h3:hover {
	color: #000;
	cursor: pointer;
}